.ArticleListTitle {
    text-align: left;
    padding-left: 10px;
}

.ArticleList {
    list-style: none;
    padding: 0 5px;
    text-align: left;
}

.ArticleList li {
    border-bottom: 1px solid #9cd7da;
    padding: 2px 0;
}
