.ArticleListTitle {
    text-align: left;
    padding-left: 10px;
}

.ArticleList {
    list-style: none;
    padding: 0 5px;
    text-align: left;
}

.ArticleList li {
    background-color: #17a2b8;
    border: 1px solid #0f6674;
    padding: 10px 12px;
    margin-bottom: 4px;
    border-radius: 2px;
    color: #fff;
}
